@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@500&display=swap');

header {
    background-color: gold;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px;
    align-content: center;
}

header img {
    height: 100px;
    width: 100px;
    border-style: double;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 22px;
}

nav a {
    color: #000000;
    font-family: 'Raleway';
    padding: 35px;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: #E7C24F;
    background-color: #8F4E09;
}

body {
    margin: auto;
    background-color: #000000;
}

#content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 100px;
    max-width: 1600px;
    margin: auto;
}

main {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows:  600px 200px 450px;
    justify-items: center;
    background-color: #8F4E09;
}

main p {
    font-family: 'Raleway';
    font-size: 25px;
}

section {
    padding: 10px;
    margin: 50px;
}

#title img {
    width: 1000px;
    border-style: solid;
}

#title {
    grid-column: 1/4;
    grid-row: 1/3;
    text-decoration: underline;
    align-content: center;
    text-align: center;
    justify-self: center;
}

#title h1 {
    font-size: 50px;
    font-family: 'Indie Flower';
    padding: 0;
    margin: 0;
}

#why {
    grid-column: 1/4;
    grid-row: 2/3;
    align-content: center;
    display: grid;
}

#why p {
    border-style: dashed;
    background-color: #E7C24F;
    padding: 10px;
}

#foods {
    display: grid;
    grid-column: 1/4;
    grid-row: 3/4;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#foods img{
    grid-column: 1/2;
    margin: 10px;
    border-style: solid;
}

#foods p {
    grid-column: 2/3;
    border-style: dashed;
    background-color: #E7C24F;
    padding: 10px;
}

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100%;
    background-color: #E7C24F;
    align-items: center;
    padding: 5px;
}

footer a {
    color: #000000;
    font-family: 'Raleway';
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}

footer a:hover {
    color: #E7C24F;
    background-color: #8F4E09;
}